@font-face {
    font-family: Alagard;
    src: url('/assets/alagard.ttf');
}

@font-face {
    font-family: Cardinal;
    src: url('/assets/Cardinal.ttf');
}
@font-face {
    font-family: OldLondon;
    src: url('/assets/OldLondon.ttf');
}